@font-face {
	font-family: candyshop;
	src: url(CandyshopRegular-nOBO.otf);
}

.home-name {
	font-family: candyshop;
	color: #aa8976;
	font-height: 2.5rem;
	margin-top: 0;
	padding: 15% 7% 3%;
	font-size: 600%;
}

.home-descrip {
	padding: 3% 7%;
	font-size: 300%;
	color: #70af85;

}

.home-img {
	max-width: 86%;
	min-width: 50%;
  	height: auto;
  	padding-top: 20%;
  	padding-left: 7%;
}

#home-page {
	background-color: #c6ebc9;

}

.btn-outline-success{
	margin-left: 10%;
}