@font-face {
	font-family: candyshop;
	src: url(../Home/CandyshopRegular-nOBO.otf);
}

.left {
	text-align: center;
	padding-top: 10%;
}

.right {
	text-align: center;
}

.login-title {
	font-family: candyshop;
	color: #70af85;
	font-height: 2.5rem;
	margin-top: 0;
	padding: 0% 7% 3%;
	font-size: 400%;
}

.login-page {
	background-color: #c6ebc9;
}

.login-img {
	size: 80%;
	width: 80%;
	padding: 0% 15%;
}

.login-form {
	padding: 25% 6%;
}

.login-page .row{
	padding-right: 0;
}

h3 {
	text-align: center;
}

div.form-group {
	text-align: center;
}
